[submodule "mabe"]
	path = mabe
	url = https://github.com/hintzelab/mabe.git
[submodule "pprint"]
	path = pprint
	url = https://github.com/p-ranav/pprint
[submodule "armadillo"]
	path = armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code
