[submodule "pprint"]
	path = pprint
	url = https://github.com/joryschossau/pprint
	branch = hotfix-multi-translation-unit-includes
[submodule "armadillo"]
	path = armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code
[submodule "mabe"]
	path = mabe
	url = https://gitlab.msu.edu/neuro_animat/mabe
	branch = animat_2motors
